@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bottom-divider {
    @apply border-b-2 border-b-slate-500;
  }
}

@layer components {
  .button {
    @apply bg-slate-700 p-2 rounded-md cursor-pointer h-full hover:bg-slate-500 hover:border-slate-700;
  }

  .section {
    @apply w-full mt-10 border-slate-700 border-2 p-8 rounded-md;
  }
}
